<!-- Bu section top articles icin -->
<!-- Burasi tiklanma ve okunma sayisina göre daha sonra ayarlanabilir veya öne cikarilmak istenen yazilar bu kisma eklenebilir. -->
<section
  *ngIf="topArticles$ | async as articles"
  class="container mx-auto flex flex-col p-12">
  <h2>Yazarın seçtikleri</h2>

  <article
    *ngFor="let article of articles.articles; index as i"
    class="grid md:grid-cols-2 gap-6 items-center my-12">
    <div
      class="p-12 order-last"
      [ngClass]="i % 2 === 0 ? 'md:order-first' : 'md:order-last'">
      <span>{{ article.slug }}</span>
      <h1>{{ article.title }}</h1>
      <p>{{ article.description }}</p>
    </div>
    <div class="bg-image" style="height: 340px"></div>
  </article>
</section>
