<div class="test">
  <mat-toolbar class="container !mx-auto !h-full">
    <span>Blog Page</span>
    <span class="spacer"></span>
    <div class="flex justify-end">
      <ul class="flex flex-row items-center justify-evenly text-sm">
        <li class="m-2">Categories</li>
        <li class="m-2">Author</li>
        <li class="m-2">Contact</li>
      </ul>
      <button mat-icon-button aria-label="Search icon">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>
