<section class="container mx-auto flex flex-col p-12">
  <h2>Yazarın seçtikleri</h2>
  <article class="grid md:grid-cols-2 gap-6 items-center my-12">
    <div class="p-12 order-last md:order-first">
      <span>Lorem, ipsum dolor.</span>
      <h1>Lorem ipsum dolor sit.</h1>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>
    <div class="bg-image" style="height: 340px"></div>
  </article>
  <article class="grid md:grid-cols-2 gap-6 items-center my-12">
    <div class="p-12 order-last md:order-last">
      <span>Lorem, ipsum dolor.</span>
      <h1>Lorem ipsum dolor sit.</h1>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>
    <div class="bg-image" style="height: 340px"></div>
  </article>
</section>
