.card-zoom {
  @apply relative flex items-center justify-center overflow-hidden shadow-xl;
}
.card-zoom-image {
  @apply absolute w-full h-full transition-all duration-500 ease-in-out transform bg-center bg-cover;
}
section:hover .card-zoom .card-zoom-image {
  @apply scale-110;
}

.article-container {
  width: 350px;
  position: relative;
  top: 20px;
  transition: all;
  transition-duration: 700ms;

  &:hover {
    top: 0px;
  }

  & > div.article-image {
    height: 200px;
  }
}
