<ng-container *ngIf="articles$ | async as articles">
  <app-featured-article [article]="articles[0]"></app-featured-article>
  <app-top-articles [topArticles]="articles"></app-top-articles>

  <div class="md:px-36">
    <section
      [routerLink]="['/articles/', articles[2].slug]"
      class="bg-white container mx-auto md:w-4/5 xl:w-3/5 flex flex-col-reverse md:flex-row justify-between xl:border border-darkblue hover:border-orange-500 my-12 group cursor-pointer">
      <div class="flex-1 flex flex-col justify-center p-12">
        <h1 class="group-hover:text-orange-500">
          {{ articles[2].title }}
        </h1>
        <p>{{ articles[2].description }}</p>
      </div>
      <div class="card-zoom md:w-2/5" style="height: 240px">
        <div
          class="card-zoom-image"
          [style.background-image]="
            'url(\'/assets/' + articles[2].image + '.jpg\')'
          "></div>
      </div>
    </section>

    <section
      [routerLink]="['/articles/', articles[1].slug]"
      class="bg-white container mx-auto md:w-4/5 xl:w-3/5 flex flex-col-reverse md:flex-row justify-between xl:border border-darkblue hover:border-orange-500 my-12 group cursor-pointer">
      <div class="flex-1 flex flex-col justify-center p-12">
        <span class="text-gray-400">Yaşar Koca tarafından kaleme alındı.</span>
        <h1 class="group-hover:text-orange-500">
          {{ articles[1].title }}
        </h1>
        <p>{{ articles[1].description }}</p>
      </div>
      <div class="card-zoom md:w-2/5" style="height: 240px">
        <div
          class="card-zoom-image"
          [style.background-image]="
            'url(\'/assets/' + articles[1].image + '.jpg\')'
          "></div>
      </div>
    </section>
  </div>

  <section
    class="flex flex-col items-center py-12 p-4 xl:p-20 text-center bg-lightyellow">
    <p class="xl:w-3/5 text-base md:text-3xl !font-serif">
      "Bana sor sevgili kâri', sana ben söyleyeyim, <br />
      Ne hüviyette şu karşında duran eş'ârım: <br />
      Bir yığın söz ki samîmiyyeti ancak hüneri; <br />
      Ne tasannu bilirim, çünkü, ne sanatkârım. <br />
      Şi'r için “gözyaşı” derler; onu bilmem, yalnız, <br />
      Aczimin giryesidir bence bütün âsârım! <br />
      Ağlarım, ağlâtmam; hissederim, söyleyemem; <br />
      Dili yok kalbimin, ondan ne kadar bîzârım! <br />
      Oku, şâyet sana bir hisli yürek lâzımsa; <br />
      Oku, zîrâ onu yazdım, iki söz yazdımsa." <br />
    </p>
    <p class="xl:w-2/5 text-sm font-black capitalize md:text-2xl !font-serif">
      Mehmet Akif Ersoy, Vatan Şairi
    </p>
  </section>

  <div class="bg-graycolor p-24">
    <section class="container mx-auto">
      <h4 class="!text-3xl">YAZARIN TÜM YAZILARI</h4>
      <hr />
      <br />
      <section class="flex justify-between gap-2 overflow-x-scroll">
        <div
          [routerLink]="['/articles/', article.slug]"
          *ngFor="let article of articles; index as i"
          class="flex flex-col cursor-pointer"
          style="width: 350px; height: 300px">
          <div
            class="basis-2/3 bg-cover bg-left"
            [style.background-image]="
              'url(\'/assets/' + article.image + '.jpg\')'
            "
            style="max-height: 200px"></div>
          <div class="basis-1/3 p-6">
            <h1 class="!text-2xl">{{ article.title }}</h1>
            <p class="!text-base !font-ubuntu">
              {{ article.description }}
            </p>
          </div>
        </div>
      </section>
    </section>
  </div>

  <app-email-subscription></app-email-subscription>
</ng-container>
