<ng-container *ngIf="article$ | async as article">
  <article
    class="container mx-auto flex flex-col justify-center mt-36 px-36 leading-relaxed">
    <div class="p-24">
      <h1 style="font-size: 42px" class="!leading-normal">
        {{ article.title }}
      </h1>
      <p style="font-size: 22px" class="text-gray-600">
        {{ article.description }}
      </p>
      <div class="flex align-center py-4">
        <mat-icon
          class="mx-2"
          aria-hidden="false"
          aria-label="schedule"
          fontIcon="schedule"></mat-icon>
        <span class="text-gray-500">
          {{ article.readingTime | number: '1.0-0' }} dakika okuma süresi. |
        </span>
        <mat-icon
          class="mx-2"
          aria-hidden="false"
          aria-label="calendar"
          fontIcon="calendar_month"></mat-icon>
        <span>
          {{ article.createdAt | date: 'd MMM y' }}
          tarihinde yayınlandı.
        </span>
      </div>
      <div
        class="bg-center bg-cover bg-no-repeat bg-blend-lighten bg-[url('/assets/flower-4210320_1920.jpg')]"
        style="height: 340px"></div>
      <p
        *ngFor="let paragraph of article.paragraphs"
        class="!mt-6 indent-8 text-justify"
        style="font-size: 20px">
        {{ paragraph.content }}
      </p>
    </div>
  </article>
  <section class="bg-gray-100 p-24">
    <div class="container mx-auto flex flex-col items-center justify-around">
      <div
        class="bg-flower bg-cover bg-left rounded-full mb-4"
        style="width: 80px; height: 80px"></div>
      <h3 style="font-size: 16px; line-height: 16px">Yaşar Koca</h3>
      <p style="font-size: 12px; line-height: 12px">
        Edebiyat Öğretmeni | Yazar
      </p>
    </div>
  </section>
</ng-container>
