<header class="header w-full">
  <mat-toolbar class="container !mx-auto !h-full">
    <span
      [routerLink]="['/']"
      class="text-2xl hover:text-orange-500 cursor-pointer"
      >Blog Page</span
    >
    <span class="spacer"></span>
    <div class="flex justify-end items-center">
      <ul class="flex flex-row items-center justify-evenly text-sm">
        <li
          [routerLink]="['/']"
          class="p-4 text-md cursor-pointer hover:text-orange-500">
          Hakkında
        </li>
        <li
          [routerLink]="['/']"
          class="p-4 text-md cursor-pointer hover:text-orange-500">
          Arşiv
        </li>
      </ul>
    </div>
  </mat-toolbar>
</header>
