<header class="header w-full">
  <mat-toolbar class="container !mx-auto !h-full">
    <img src="/assets/logo-2.png" alt="logo" class="logo" />
    <span
      [routerLink]="['/']"
      class="text-2xl text-white hover:text-orange-500 cursor-pointer"
      >Blog Page</span
    >
    <span class="spacer"></span>
    <div class="flex justify-end items-center">
      <ul class="flex text-white flex-row items-center justify-evenly text-sm">
        <li
          [routerLink]="['/']"
          class="p-4 text-md cursor-pointer hover:text-orange-500">
          Tüm Yazılar
        </li>
        <li
          [routerLink]="['/']"
          class="p-4 text-md cursor-pointer hover:text-orange-500">
          Hakkımda
        </li>
        <li
          [routerLink]="['/']"
          class="p-4 text-md cursor-pointer hover:text-orange-500">
          İletişim
        </li>
      </ul>
    </div>
  </mat-toolbar>
</header>
