header {
  position: fixed;
  top: 0;
  z-index: 99;

  .nav {
    transition: all;
    transition-duration: 500ms;
    min-height: 98px;
  }

  a {
    img.logo {
      height: 70px;
    }
  }

  &.small {
    .nav {
      min-height: 72px !important;
    }
  }

  &.small,
  &.not-landing-page {
    background-color: white;
    transition: all;
    transition-duration: 500ms;
    box-shadow: 0 2px 6px rgba(26,27,34,.16), 0 0 3px rgba(26,27,34,.08);

    a {
      img.logo {
        filter: brightness(1%);
      }
    }

    nav {
      ul {
        li {
          a {
            color: rgb(37 28 20);

            &:hover {
              color: rgb(249 115 22);;
            }
          }
        }
      }

      button {
        color: black;
      }
    }
    span {
      color: rgb(37 28 20) !important;

      &:hover {
        color: rgb(249 115 22);;
      }
    }

  }
}
