<section class="px-6 py-12 mt-36">
  <div
    class="container mx-auto flex flex-col xl:flex-row items-center justify-around gap-12">
    <div class="fadeInRight-animation flex flex-1 justify-center">
      <div
        class="w-screen bg-profile bg-cover bg-center"
        style="height: 300px; max-width: 500px; max-height: 400px"></div>
    </div>
    <article class="fadeInUp-animation flex-1 p-6">
      <h2 class="!text-3xl !mb-0">Hakkımda</h2>
      <span>Yaşar Koca | Edebiyat Öğretmeni | Yazar</span>
      <p class="!text-lg !mt-6">
        05 Nisan 1966’da Artvin’in Şavşat ilçesinde doğdum. İlk ve orta öğrenim
        dönemimi burada tamamlamamın ardından yüksek öğrenimime Marmara
        Üniversitesinde devam ettim. Yüksek lisansımı Gazi Üniversitesinde
        “Eğitim Yönetimi ve Denetimi“ üzerine yaptım. Yurdumun birçok ilinde
        öğretmenlik ve yöneticilik görevinde bulundum. Evliyim, dört çocuğum
        var. Ankara’da ikamet etmekteyim. Emekli olduktan sonra eğitimcilik
        hayatıma özel ders vererek devam etmekteyim.
      </p>
      <div class="flex items-center justify-around md:justify-start py-2">
        <i class="fa-solid fa-envelope text-2xl mx-2"></i>
        <i class="fab fa-twitter text-2xl mx-2"></i>
        <i class="fa-brands fa-instagram text-2xl mx-2"></i>
        <i class="fa-brands fa-facebook text-2xl mx-2"></i>
        <i class="fa-brands fa-linkedin-in text-2xl mx-2"></i>
      </div>
    </article>
  </div>
</section>
