<section class="h-full p-6 py-12 xl:p-36">
  <div
    class="h-full container mx-auto flex flex-col md:flex-row items-center justify-around gap-12">
    <div
      class="flex flex-1 w-full h-full flex-col xl:flex-row items-center bg-profile bg-cover bg-center"
      style="max-width: 500px; max-height: 400px"></div>
    <article class="flex-1 p-6">
      <h2 class="!text-3xl !mb-0">Hakkımda</h2>
      <span>Yaşar Koca | Edebiyat Öğretmeni | Yazar</span>
      <p class="!text-lg !mt-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        rerum saepe et, voluptate maiores vitae eligendi explicabo itaque
        perferendis vero laboriosam expedita. Accusamus aspernatur perspiciatis
        dolore, recusandae laboriosam expedita cum porro velit tempore
        perferendis vero molestias placeat architecto magnam neque excepturi!
        Quo atque eveniet dolore at voluptatibus, minima, impedit aliquid alias
        aliquam optio rerum aspernatur commodi? Doloribus hic neque minima
        repudiandae nisi recusandae eos, asperiores sequi corrupti accusantium
        distinctio molestias, expedita, porro autem eum temporibus itaque magnam
        voluptates tenetur voluptatem?
      </p>
    </article>
  </div>
</section>
