<section
  *ngIf="featuredArticle$ | async as article"
  class="flex flex-col justify-center items-end h-screen bg-center bg-cover bg-no-repeat bg-fixed bg-blend-lighten bg-[url('/assets/desk-1869579_1920.jpg')]">
  <div
    [routerLink]="['/article/', article.slug]"
    class="text-white container p-24 w-3/5 hover:cursor-pointer group transition-all duration-300 ease-in-out">
    <p style="font-size: 1.5rem; line-height: 1.5rem">
      Yazar tarafından öne çıkarılan yazı.
    </p>
    <h1
      class="text-orange-500 group-hover:underline"
      style="font-size: 5rem; line-height: 5rem">
      {{ article.title }}
    </h1>
    <p style="font-size: 2rem; line-height: 2rem">
      {{ article.description }}
    </p>
  </div>
</section>
