<div class="container mx-auto">
  <app-header></app-header>
</div>

<!-- https://www.wix.com/blog -->

<!-- Bu section öne cikarilan tek bir yazi icin -->
<!-- Daha sonra opsiyonel yapilabilir veya otomatik en son yüklenen yazi burda görünür. -->
<section
  style="
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    padding: 10rem;
    margin: 0 auto;
  ">
  <span>Lorem, ipsum dolor.</span>
  <h1>Lorem ipsum dolor sit.</h1>
  <p>Lorem ipsum dolor sit amet consectetur.</p>
</section>

<!-- Bu section top articles icin -->
<!-- Burasi tiklanma ve okunma sayisina göre daha sonra ayarlanabilir veya öne cikarilmak istenen yazilar bu kisma eklenebilir. -->
<section
  style="
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    padding: 10rem;
    margin: 0 auto;
  ">
  <span>Lorem, ipsum dolor.</span>
  <h1>Lorem ipsum dolor sit.</h1>
  <p>Lorem ipsum dolor sit amet consectetur.</p>
</section>

<!-- Bu kisimda mevcut yazilar arasindan rastgele bir yazi gösterilebilir. -->
<section
  style="
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    padding: 10rem;
    margin: 0 auto;
  ">
  <span>Lorem, ipsum dolor.</span>
  <h1>Lorem ipsum dolor sit.</h1>
  <p>Lorem ipsum dolor sit amet consectetur.</p>
</section>

<hr />

<!-- Bu kisimda da yazarin sectikleri yazilar gösterilebilir. -->
<section
  style="
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    padding: 10rem;
    margin: 0 auto;
  ">
  <span>Lorem, ipsum dolor.</span>
  <h1>Lorem ipsum dolor sit.</h1>
  <p>Lorem ipsum dolor sit amet consectetur.</p>
</section>

<!-- ara gecis icin bir container eklenebilir -->
<section style="background-color: lightblue; height: 80vh"></section>

<!-- Burasi da konularina göre yazilar listelenebilir. -->
<section>
  <h4>TOPIC 1</h4>
  <hr />
  <section
    style="
      display: flex;
      flex-direction: column;
      max-width: 1400px;
      padding: 10rem;
      margin: 0 auto;
    ">
    <span>Lorem, ipsum dolor.</span>
    <h1>Lorem ipsum dolor sit.</h1>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
  </section>
  <h4>TOPIC 2</h4>
  <hr />
  <section
    style="
      display: flex;
      flex-direction: column;
      max-width: 1400px;
      padding: 10rem;
      margin: 0 auto;
    ">
    <span>Lorem, ipsum dolor.</span>
    <h1>Lorem ipsum dolor sit.</h1>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
  </section>
  <h4>TOPIC 3</h4>
  <hr />
  <section
    style="
      display: flex;
      flex-direction: column;
      max-width: 1400px;
      padding: 10rem;
      margin: 0 auto;
    ">
    <span>Lorem, ipsum dolor.</span>
    <h1>Lorem ipsum dolor sit.</h1>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
  </section>
</section>

<section
  style="
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    padding: 10rem;
    margin: 0 auto;
  ">
  <h2>Never miss another article</h2>
  <div style="display: flex; flex-direction: column">
    <p>
      Enter your email address
      <button>Join</button>
    </p>
    <p>I agree to the Wix terms of Use</p>
    <p>I acknowledge that I've read Wix's Privacy Policy</p>
  </div>
</section>

<footer style="min-height: 400px"></footer>
