<app-header></app-header>

<app-featured></app-featured>

<section class="container mx-auto flex flex-col p-12">
  <h2>Yazarın seçtikleri</h2>
  <article class="grid md:grid-cols-2 gap-6 items-center my-12">
    <div class="p-12 order-last md:order-first">
      <span>Lorem, ipsum dolor.</span>
      <h1>Lorem ipsum dolor sit.</h1>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>
    <div class="bg-image" style="height: 340px"></div>
  </article>
  <article class="grid md:grid-cols-2 gap-6 items-center my-12">
    <div class="p-12 order-last md:order-last">
      <span>Lorem, ipsum dolor.</span>
      <h1>Lorem ipsum dolor sit.</h1>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>
    <div class="bg-image" style="height: 340px"></div>
  </article>
</section>

<section class="container mx-auto flex flex-col bg-red-200 p-12">
  <span>Lorem, ipsum dolor.</span>
  <h1>Lorem ipsum dolor sit.</h1>
  <p>Lorem ipsum dolor sit amet consectetur.</p>
</section>

<hr />

<section class="container mx-auto flex flex-col bg-orange-200 p-12">
  <span>Lorem, ipsum dolor.</span>
  <h1>Lorem ipsum dolor sit.</h1>
  <p>Lorem ipsum dolor sit amet consectetur.</p>
</section>

<section class="bg-gray-950" style="height: 80vh"></section>

<section class="container mx-auto p-12">
  <div *ngFor="let i of [1, 2, 3]">
    <h4>TOPIC {{ i }}</h4>
    <hr />
    <section class="grid grid-cols-3 gap-12">
      <div class="p-6" *ngFor="let j of [1, 2, 3]">
        <div class="bg-image" style="height: 160px"></div>
        <div class="p-4">
          <h1>Lorem ipsum dolor sit.</h1>
          <p>Lorem ipsum dolor sit amet consectetur...</p>
        </div>
      </div>
    </section>
  </div>
</section>

<section class="flex text-white bg-black p-36 items-center justify-around">
  <h2>Never miss another article</h2>
  <div style="display: flex; flex-direction: column">
    <p>
      Enter your email address
      <button>Join</button>
    </p>
    <p>I agree to the Wix terms of Use</p>
    <p>I acknowledge that I've read Wix's Privacy Policy</p>
  </div>
</section>

<footer style="min-height: 400px"></footer>
