<section
  class="flex flex-col justify-center items-end h-screen bg-right bg-cover bg-no-repeat bg-fixed bg-blend-color-burn bg-desk">
  <div
    [routerLink]="['/article/', article.slug]"
    class="container text-white p-4 md:p-24 lg:w-3/5 hover:cursor-pointer group transition-all duration-300 ease-in-out">
    <p class="!text-base md:!text-lg xl:!text-xl">
      Yazar tarafından öne çıkarılan yazı.
    </p>
    <h1
      class="!text-4xl md:!text-5xl xl:!text-6xl text-orange-500 group-hover:underline">
      {{ article.title }}
    </h1>
    <p class="!text-lg md:!text-xl xl:!text-2xl">
      {{ article.description }}
    </p>
  </div>
</section>
