<section class="bg-black p-6 py-12 xl:p-36">
  <div
    class="container mx-auto flex flex-col md:flex-row text-white items-center justify-around">
    <h3 class="fadeInRightOnView text-center !text-4xl !my-12">
      Benimle iletişime geçmek <br />
      ister misin?
    </h3>
    <div
      class="fadeInUpOnView md:min-w-96 flex flex-col xl:flex-row items-center justify-center p-6">
      <div
        class="bg-profile bg-cover bg-center rounded-full"
        style="width: 150px; height: 150px"></div>
      <div
        class="flex flex-col items-center xl:items-left justify-center p-6 mx-6">
        <h2 class="xl:!text-3xl !mb-0">Yaşar Koca</h2>
        <p class="!mb-4 text-base xl:text-lg">Eğitimci | Yazar</p>
        <a href="mailto:yasarkoca08@gmail.com">
          <button mat-raised-button>Mail Gönder</button>
        </a>
      </div>
    </div>
  </div>
</section>
