<section class="flex text-white bg-black p-36 items-center justify-around">
  <h2 class="text-center" style="font-size: 2.4rem; line-height: 2.4rem">
    Benimle iletişime geçmek <br />
    ister misin?
  </h2>
  <div class="flex p-6">
    <div
      class="bg-flower bg-cover bg-left rounded-full"
      style="width: 150px; height: 150px"></div>
    <div class="flex flex-col justify-center p-6">
      <h3 style="font-size: 2rem; line-height: 2rem">Yaşar Koca</h3>
      <p class="!mb-4" style="font-size: 1.2rem; line-height: 1.2rem">
        Edebiyat Öğretmeni | Yazar
      </p>
      <a href="mailto:yykoca.08@gmail.com">
        <button mat-raised-button>Mail Gönder</button>
      </a>
    </div>
  </div>
</section>
