<footer class="flex flex-col">
  <section
    class="2xl:container mx-auto grid grid-cols-3 gap-6"
    style="min-height: 400px">
    <div class="px-12">
      <img
        src="/assets/logo-black.png"
        alt="logo"
        class="logo"
        style="height: 72px" />
      <h3 style="font-size: 1.5rem; line-height: 1.5rem">Blog Page</h3>
    </div>
    <div class="flex gap-6 justify-between py-6">
      <div>
        <h4>Yazılar</h4>
      </div>
      <div>
        <h4>Şiirler</h4>
      </div>
      <div>
        <h4>Hakkımda</h4>
      </div>
      <div>
        <h4>Başka bir bölüm</h4>
      </div>
    </div>
  </section>
  <section class="2xl:container mx-auto grid grid-cols-3 gap-6 border-t">
    <div class="flex items-center justify-start">
      <i class="fab fa-twitter text-2xl mx-2"></i>
      <i class="fa-brands fa-instagram text-2xl mx-2"></i>
      <i class="fa-brands fa-facebook text-2xl mx-2"></i>
      <i class="fa-brands fa-linkedin-in text-2xl mx-2"></i>
    </div>
    <ul class="flex items-center justify-around">
      <li class="p-4">Privacy Policy</li>
      <li class="p-4">Legal Stuff</li>
      <li class="p-4">Accessibility</li>
    </ul>
    <div class="flex items-center justify-end">
      <span>Copyright © 2024 Yaşar Koca</span>
    </div>
  </section>
</footer>
