<footer class="flex flex-col">
  <!-- <section
    class="2xl:container mx-auto grid grid-cols-2 md:grid-cols-3 w-full my-4">
    <div class="flex flex-col p-6 items-end">
      <img
        src="/assets/logo-black.png"
        alt="logo"
        class="logo"
        style="height: 72px" />
      <h3 class="!text-2xl">Mürekkep</h3>
    </div>
    <div class="flex flex-col md:flex-row gap-2 md:justify-around p-6 border-s">
      <h4 class="!font-black !tracking-wider cursor-pointer hover:underline">
        Yazılar
      </h4>
      <h4 class="!font-black !tracking-wider cursor-pointer hover:underline">
        Şiirler
      </h4>
      <h4 class="!font-black !tracking-wider cursor-pointer hover:underline">
        Hakkımda
      </h4>
      <h4 class="!font-black !tracking-wider cursor-pointer hover:underline">
        İletişim
      </h4>
    </div>
  </section> -->
  <section
    class="2xl:container mx-auto grid grid-cols lg:grid-cols-3 lg:gap-6 border-t font-serif py-6">
    <div class="flex items-center justify-around lg:justify-start py-2">
      <!-- <i class="fab fa-twitter text-2xl mx-2"></i>
      <i class="fa-brands fa-instagram text-2xl mx-2"></i>
      <i class="fa-brands fa-facebook text-2xl mx-2"></i>
      <i class="fa-brands fa-linkedin-in text-2xl mx-2"></i> -->
    </div>
    <div class="flex items-end justify-center py-2">
      <span>© 2024 Yaşar Koca | Tüm hakları saklıdır.</span>
    </div>
    <ul class="flex items-center justify-around py-2">
      <!-- <li class="p-4">Privacy Policy</li>
      <li class="p-4">Legal Stuff</li>
      <li class="p-4">Accessibility</li> -->
    </ul>
  </section>
</footer>
